<mat-form-field>
  <mat-select placeholder="年代" (selectionChange)="onChangeYear($event)">
    <mat-option *ngFor="let y of years" [value]="y">
      {{y.display}}
    </mat-option>
  </mat-select>
</mat-form-field>

<ul>
  <li *ngFor="let ad of animedata">
    {{ad.title}}({{ad.title_short1}}) - <a href="{{ad.public_url}}">公式サイト</a> -
    <p *ngIf="ad.sex === 0; then male; else female" class="content-block"></p>
    <ng-template #male>[男性向け]</ng-template>
    <ng-template #female>[女性向け]</ng-template>
  </li>
</ul>